* {
  font-family: Lobster, sans-serif;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
  width: 90%;
  margin: auto;
}

body {
  margin: auto;
  background: url(images/woodtexture.jpg), rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  z-index: 1;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
  .home-title {
    z-index: 0;
  }
  /* ------------------------  Hamburger ------------------*/
  .nav-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    margin: auto;
  }
  /* ------------------------ Instagram feed ------------------*/
  .instagram-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: 30vh;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.nav-container {
  width: 100%;
  margin: auto;
  /* ---------vvv----- Right side icons top Nav bar ---------vvv----- */
  /* ----------vvv-------  Hamburger Menu ------------vvvv---- */
  /* --------vvv----- media Query for NAV bar ---vvvv----*/
}

.nav-container ul {
  position: fixed;
  width: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(253, 253, 253, 0.88);
  border: 4px solid black;
}

.nav-container .nav-ul li a {
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #050000;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
}

.nav-container .nav-ul li a:hover {
  color: #585656;
}

.nav-container .right-nav .icon-img {
  width: 2.5em;
  padding: 12px 12px;
  float: right;
}

.nav-container .right-nav .icon-img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.nav-container .right-nav p {
  font-size: 1.5rem;
  margin: 0;
  padding: 14px 0px 14px 16px;
  text-align: center;
}

.nav-container .checkbtn {
  background-color: transparent;
  float: right;
  border: 0;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
  display: none;
}

.nav-container #check {
  display: none;
}

.nav-container .checkbtn:focus {
  outline: none;
  background-color: rgba(3, 3, 3, 0.25);
}

@media (max-width: 850px) {
  .nav-container .checkbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 2%;
    left: 5%;
  }
  .nav-container ul {
    left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-container nav ul li {
    display: block;
  }
  .nav-container nav ul li a {
    font-size: 2rem;
  }
  .nav-container #check:checked ~ .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 3%;
    top: 6%;
    height: 40vh;
  }
}

/*---------vvvvvv------- Home Landing ---------vvvvv---------*/
.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(images/barbershop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 110vh;
  /*---------vvv----- Instgram feed   ---------vvv-----*/
  /*---------vvv----- scroll bar   ---------vvv-----*/
  /* Track */
  /* scroll bar Handle */
  /* -----------vvvv------ appointment button ------vvvv-------*/
}

.home-container .home-title {
  font-size: 4.5rem;
  color: white;
  position: absolute;
  top: 4%;
  text-shadow: 4px 4px black;
  text-align: center;
  padding: .5rem;
}

.home-container .instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home-container .instagram-container img {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  margin: 5px;
}

.home-container ::-webkit-scrollbar {
  width: 10px;
}

.home-container ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px black;
          box-shadow: inset 0 0 5px black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-container ::-webkit-scrollbar-thumb {
  background: #f7f5f5;
  border-radius: 10px;
}

.home-container p.home-para {
  color: white;
  font-size: 2.25em;
  position: absolute;
  top: 20%;
  text-shadow: 3px 2px black;
  text-align: center;
  padding: .5rem;
}

.home-container .appointment-button {
  text-decoration: none;
  position: absolute;
  top: 95%;
  width: 40%;
  height: 10%;
  cursor: pointer;
  background: url(images/woodtexture.jpg);
  border: 2px solid white;
  text-shadow: 1px 2px white;
}

.home-container .appointment-button:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.home-container .appointment-text {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

/* ----------vv----- About Landing -----vvvv-----*/
.about-container {
  width: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  z-index: 1;
  display: -ms-grid;
  display: grid;
  grid-row: 1fr 1fr;
  grid-column: 1fr 1fr;
  /* -----vv--- About div image ----vv----*/
}

.about-container .about-title {
  font-size: 4.5rem;
  text-shadow: 2px 2px #FFFFFF;
  grid-column: span 2;
  margin-left: auto;
  margin-right: auto;
}

.about-container .about-para {
  font-family: Courgette, cursive;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row: span 1;
}

.about-container .about-img {
  padding: 2rem;
  grid-row: span 1;
  width: 80%;
}

/* -------vvvvvvv------ Services Landing ------vvvvv------*/
.services-container {
  width: 100%;
  height: 90vh;
  background-color: rgba(96, 64, 32, 0.4);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* ---------vvvv---------- Service Pricing table -------vvvv-------*/
}

.services-container .services-title {
  font-size: 5.5rem;
  color: black;
  text-shadow: 2px 2px white;
  text-align: center;
}

.services-container h2 {
  font-size: 4.5rem;
  color: black;
  text-shadow: 2px 2px white;
  margin-left: auto;
  margin-right: auto;
}

.services-container .services-table {
  width: 40%;
  font-size: 2.5rem;
}

.services-container th {
  border-bottom: 2px solid white;
}

.services-container tr:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

/* -----vvvvvv---- Contact Landing -----vvvv--------*/
.contact-container {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  /* ---- Contact catagory titles --- */
  /* -------vvvvv---------- Bottom Social Icons ----vvvvv---------*/
}

.contact-container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .contact-title {
  font-size: 3.5rem;
  color: black;
  text-shadow: 1px 1px white;
  margin-left: auto;
  margin-right: auto;
}

.contact-container .contact-h3 {
  font-size: 2.5rem;
  font-family: Courgette, cursive;
  color: black;
  text-shadow: 1px 1px #faf6f6;
  padding: 0;
  margin: 0;
  border-bottom: 8px solid black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .contact-para {
  font-size: 2.5rem;
  color: #7a4d28;
  font-family: Courgette, cursive;
  text-shadow: 2px 2px black;
}

.contact-container .social-imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .social-imgs img {
  width: 4.5rem;
  padding: 20px;
}

.contact-container .social-imgs img:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}
/*# sourceMappingURL=styles.css.map */